body {
  margin: 0;
  font-family: Arial;
}

.full-width-header,
.content-wrapper {
  width: 100%;
}

.content-wrapper {
  padding: 0 20px;
  box-sizing: border-box;
}

.chart-container,
.video-section-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.video-section-container .video-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.video-section-container .styled-button {
  padding: 10px 20px;
  border: 3px solid;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.15s ease, color 0.15s ease;
  flex: 1 1 30%;
  margin: 0 5px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  width: calc(33.33% - 10px);
}

.video-section-container .styled-button:focus {
  outline: none;
}

.video-section-container .styled-button.one { border-color: #024d82; }
.video-section-container .styled-button.two { border-color: #01ab8e; }
.video-section-container .styled-button.three { border-color: #f47200; }

.video-section-container .styled-button.one:hover,
.video-section-container .styled-button.one:focus { background-color: #024d82; color: white; }

.video-section-container .styled-button.two:hover,
.video-section-container .styled-button.two:focus { background-color: #01ab8e; color: white; }

.video-section-container .styled-button.three:hover,
.video-section-container .styled-button.three:focus { background-color: #f47200; color: white; }

.video-section-container .video-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 43.75%;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.video-section-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transform: scale(1.02);
}

.video-section-container video:first-of-type {
  display: block;
}

.video-section-container .info-container {
  width: 100%;
  max-width: calc(100% - 10px);
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid;
}

.video-section-container .info-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.video-section-container .info-container.one { border-color: #024d82; }
.video-section-container .info-container.two { border-color: #01ab8e; }
.video-section-container .info-container.three { border-color: #f47200; }

/* replay button */
#replayButton, #replayButton2 {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
}

#replayButton:hover, #replayButton2:hover {
  background-color: #5a6268;
}

.container {
  display: flex;
  align-items: center;
}