html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    color: #333;
}

.full-width-header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 40px 0;
    border-bottom: 1px solid #e9ecef;
}

.header-content {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

article {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    font-weight: 900;
    color: #1f2937;
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    color: #1f2937;
}

h3 {
    font-weight: 500;
    color: #1f2937;
}

.subtitle {
    font-weight: 400;
    font-size: 1.1em;
    color: #4b5563;
    margin-top: 0;
    margin-bottom: 20px;
}

.author-info {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.author-info p {
    margin: 5px 0;
}

.author {
    font-weight: 700;
}

.affiliation {
    font-style: italic;
}

.chart {
    margin-top: 30px;
}

.button {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1em;
    color: #4b5563;
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ddd;
}

.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

hr {
    border: 0;
    height: 1px;
    background-color: #D3D3D3;
    margin: 30px 0;
}

.author {
    position: relative;
    cursor: pointer;
  }
  
  .author:nth-of-type(1)::after,
  .author:nth-of-type(2)::after {
    content: '*';
    position: relative;
    top: -0.5em;
    font-size: 0.75em;
    color: black;
    margin-left: 2px;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    white-space: nowrap;
    z-index: 1000;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .author:hover .tooltip {
    display: block;
  }

  /* Existing CSS */
.inline-image {
    float: left;
    margin: 5px 0 0 0; /* Adjust the right margin to add space between image and text */
}

.inline-image img {
    width: 30px;
    height: 30px;
}

.ps-container {
    display: inline-block; /* Ensures the border only covers the content */
    margin: 10px 0;
}

.ps {
    border: 2px solid #000; /* Adjust the border size and color as needed */
    padding: 10px; /* Adds space between the text and the border */
    display: flex;
    align-items: center; /* Centers items vertically */
}